.ticker {
  width: 200px;
  height: 200px;
  background-color: #25303d;
  margin: 10px;

  &.light {
    background-color: #6ff1f1;

    &.render {
      background-color: #1fb6b6;
    }

    .ticker-name {
      color: #1d1b1b;
    }

    .ticker-price {
      color: #6612ee;
    }
  }

  &.render {
    transition: all 600ms ease-out;
    background-color: black;
    border: 4px dashed orange;
  }

  .ticker-name {
    font-size: 25px;
    color: #ffc310;
    text-align: center;
    margin: 40px auto 5px auto;
  }

  .ticker-price {
    color: #61cdca;
    text-align: center;
  }
}
